django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv
langchain
openai
huggingface_hub
faiss-cpu
pandas
groq
sentence-transformers
langchain-huggingface
langchain-community
mem0ai
google-generativeai